---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
---

<Layout title="Page">
  <main class="grid grid-cols-4 gap-2">
    <div class="card bg-base-100 shadow-xl col-span-4">
      <figure><img src="e6.jpg" alt="Shoes" /></figure>
      <div class="card-body text-base-content">
        <h2 class="card-title font-bold">
          Free Education!
          <div class="badge badge-secondary badge-outline">Visit us!</div>
        </h2>
        <p>
          IIH COLLEGE (Integrated Innovation and Hospitality Colleges) OFFER
          ZERO PAYMENT FOR ALL PUBLIC SCHOOL COMPLETER Under DepEd Voucher
          Program. <br />
          <br /><strong> IIHC MODALITIES OFFERED IN NEW NORMAL:</strong>
          <br /> - FULL ONLINE LEARNING MODALITY <br />- FULL MODULAR BLENDED
          LEARNING <br />- FACE TO FACE WITH ONLINE
          <br />- FACE TO FACE WITH MODULAR <br />- FULL FACE TO FACE
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl col-span-2">
      <figure>
        <img src="/e7.jpg" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          Senior High School Track <div
            class="badge badge-secondary badge-outline"
          >
            Enroll now!
          </div>
        </h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <a href="/Courses" class="btn btn-primary">Check SHS Tracks</a>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 shadow-xl col-span-2">
      <figure><img src="e5.jpg" alt="Shoes" /></figure>
      <div class="card-body">
        <h2 class="card-title">
          College Enrollment
          <div class="badge badge-secondary badge-outline">Check Courses!</div>
        </h2>
        <p>
          IIH COLLEGE (Integrated Innovation and Hospitality Colleges) offers
          College Programs, check the programs offered or you may visit our
          school for inquiries.
        </p>
        <div class="card-actions justify-end">
          <a href="/Courses" class="btn btn-primary">Check Programs Offered</a>
        </div>
      </div>
    </div>
  </main>
</Layout>
